<div class="content" role="main">
  <h1>Min sidekammerat</h1>
  <figure>
    <img src="assets/img/lukas.png" alt="billedet af supergeniet Lukas">
    <figcaption>Fig. 1 - Det første billede man mener er blevet taget af lukas</figcaption>
  </figure>
  
  <p>
    Lukas er hvad du ville kalde lidt af et supergeni,
    lige siden fødsel har han undersøgt måder at effektivisere
    læring, så han kunne lære alting hurtigere end alle andre.

    Han er nu 20 år gammel og lever seklerede
  </p>
</div>